<!DOCTYPE html>
<html>
    <head>
        <title>MinhaEmpresa</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>Demitir funcionário</h1>
        <h3>Bem-vindo(a) ao MinhaEmpresa</h3>

        <h2>Nome: <%= funcionario.nome %></h2>
        <p>Cargo: <%= funcionario.cargo %></p>
        <h2>
            Salário atual: R$ <%=
            parseFloat(funcionario.salario_atual).toFixed(2) %>
        </h2>

        <form action="<%= '/'+funcionario.id+'/demissao' %>" method="POST">
            <label for="data">Data da demissão: </label>
            <input type="date" id="data" name="data" required />
            <input
                type="submit"
                value="Confirmar demissão de <%= funcionario.nome %>"
            />
        </form>

        <a href="<%= '/'+funcionario.id %>"><button>Voltar</button></a>
        <a href="/"><button>Dashboard</button></a>
        <script>
            Date.prototype.toDateInputValue = function () {
                var local = new Date(this);
                local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                return local.toJSON().slice(0, 10);
            };
            document.getElementById("data").value =
                new Date().toDateInputValue();
        </script>
    </body>
</html>
